* {
    background-color: gray;
}

.image img{
    width: 200px;
    height: 200px;
}

nav a {
    font-size: 20px;
    color: white;
}

.name {
    color: white;
}

.description {
    font-size: 15px;
}

.fb-link {
    font-size: 15px;
    color: white;
}

.email-input label {
    color: white;
}

.email-input input {
    background-color: white;
}

.send-email-btn button {
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 30px;
}